<div id="login">
    <h3 class="text-center text-white pt-5">Please provide your new password</h3>
  
  
    
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                   <form id="login-form" class="form" [formGroup] = "foodGroup"  (ngSubmit)="onSubmit()" novalidate>




                      <!-- <div class="form-group">
                          <label for="password" class="text-info">New Password:</label><br>
                          <input type="text" name="password" id="password" class="form-control" formControlName="password">
                    
                        </div>
                      <div class="form-group">
                        <label for="password" class="text-info">Confirm Password:</label><br>
                        <input type="text" name="confirmpassword" id="confirmpassword" class="form-control" formControlName="confirmpassword">
 
                    </div> -->
                   
           
 <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">
                Please provide a password.
              </div>
              <div *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
              placeholder="Confirm password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
              required>
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">
                Please confirm your password.
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">
                Passwords must match.
              </div>
            </div>
          </div>
          <div id="successMsg" *ngIf="successMessage">
            <span>{{successMessage}}</span>
        </div>
          <button type="submit" class="btn btn-primary">Submit</button> 
          <a routerLink="/login">Login</a>    
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>