<div id="login">
  <h3 class="text-center text-white pt-5">Please provide your email address</h3>


  
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" [formGroup] = "foodGroup">
                    <div class="form-group">
                        <label for="email" class="text-info">Email:</label><br>
                        <input type="text" name="email" id="email" class="form-control" formControlName="email">
                    </div>
                    <div id="errorMsg" *ngIf="errorMessage">
                        <span>{{errorMessage}}</span>
                    </div>
                    <div id="successMsg" *ngIf="successMessage">
                        <span>{{successMessage}}</span>
                    </div>                   
                
                      <div class="form-group">
                          <button type="submit" class="btn btn-info btn-md" (click) = "forgotPassword(foodGroup)">Submit</button>
                           
                      </div>

                      <p>
                        <ngb-alert #selfClosingAlert *ngIf="failureMessage" type="danger" (closed)="failureMessage = ''">{{ failureMessage }}
                        </ngb-alert>
                      </p>
                              
                      
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>